.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.modal_content {
  background: #f0faff;
  border-radius: 8px;
  min-width: 300px;
  max-width: 1170px;
  position: relative;
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal_appear {
  animation: modal-appear 0.2s forwards;
}

.modal_disappear {
  animation: modal-disappear 0.2s forwards;
}

@keyframes modal-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes modal-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}