/* rgba(123, 167, 197, 33%); */

.Table {  
  position: relative;
  background-color: rgba(123, 167, 197, 0.33);
  border: solid 1px rgba(123, 167, 197, 0%);
  border-radius: 5px;
  padding-bottom: 35px;
}

.Table::after {
  content: '';
  display: flex;
  top: 28px;
  position: absolute;
  width: 96%;
  height: 50px;
  background-color: #678ca6;
  border: solid 1px #678ca6;
  border-radius: 5px;
  justify-self: center;
  z-index: -1;
}

.table_wrapper {
  display: flex;
  justify-self: center;  
  width: 96%;
  padding-top: 26px;
}

.Table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}



.Table th {
  text-wrap: nowrap;
  font-size: 1.25em;
  font-weight: 400;
  color: #E9F8FF;
} 

.Table th, .Table td {
  text-align: left;
  color: #182C3A;
  padding: 15px 8px 16px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Table td {
  border-bottom: solid 1px #678ca6;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination Button {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: solid 1px #678ca6;
  border-radius: 5px;
  background-color: transparent;
  color: #678CA6;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 400;
}


.edit {
  cursor: pointer;
}

.curent_page {
  font-size: 1em;
  outline: none;
  width: 40px;
  color: #182C3A;
  border: solid 1px #678ca6;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;

}

.curent_page input:focus {
  border: 1px solid #678ca6;
}

.without_data {
  width: 86.3vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E9F8FF;
  background-color: rgba(123, 167, 197, 0.33);
  border: 5px solid transparent;
  border-radius: 5px;
}

button.on_board {
  background-color: #59a95d;
}

button.off_board {
  background-color: #B8081D;
}

button.on_board:hover {
  background-color: #61B665;
}

button.off_board:hover {
  background-color: #d1071f;
}
.modal_padding {
  padding: 30px;
}

.modal_header {
  text-align: center;
  text-wrap: nowrap;
}

.date_input {
  display: block;
  margin: 20px auto;       
  padding: 10px 15px;      
  width: 60%;              
  max-width: 300px;        
  border: 1px solid #ccc;  
  border-radius: 6px;      
  font-size: 16px;         
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.date_input:focus {
  border-color: #7eaccc;   
  box-shadow: 0 0 6px rgba(74,144,226,0.4);
  outline: none;
}
