/* rgba(123, 167, 197, 33%); */

.Table {  
  position: relative;
  background-color: rgba(123, 167, 197, 33%);
  border: solid 1px rgba(123, 167, 197, 0%);
  border-radius: 5px;
  width: 100%;
  padding-bottom: 35px;
}

.Table::after {
  content: '';
  display: flex;
  top: 28px;
  position: absolute;
  width: 96%;
  height: 50px;
  background-color: #678ca6;
  border: solid 1px #678ca6;
  border-radius: 5px;
  justify-self: center;
  z-index: -1;
}

.table_wrapper {
  display: flex;
  justify-self: center;  
  width: 96%;
  padding-top: 26px;
}

.Table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}



.Table th {
  text-wrap: nowrap;
  font-size: 1.25em;
  font-weight: 400;
  color: #E9F8FF;
} 

.Table th, td {
  text-align: left;
  color: #182C3A;
  padding: 15px 8px 16px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Table td {
  border-bottom: solid 1px #678ca6;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination Button {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: solid 1px #678ca6;
  border-radius: 5px;
  background-color: transparent;
  color: #678CA6;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 400;
}


.edit {
  cursor: pointer;
}

.curent_page {
  font-size: 1em;
  outline: none;
  width: 40px;
  color: #182C3A;
  border: solid 1px #678ca6;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;

}
.curent_page input:focus {
  border: 1px solid #678ca6;
}