.main {
  position: absolute;
  background: linear-gradient(
      to bottom,
      rgba(12, 34, 34, 0.9),
      rgba(16, 32, 32, 0.2)
    ),
    url("../../public/images/Home_background(cut).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.h2 {
  color: #E9F8FF;
  font-size: 2.5em;
  font-weight: 600;
  text-align: left;
}

.p {
  margin-top: 100px;
  width: 40vw;
  font-size: 2em;
  font-weight: 400;
  text-wrap: wrap;
}

