.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../public/images/login_background.png") no-repeat;
    background-size: cover cover;
    background-position-x: 15%; 
    background-position-y: center;
}

.h2 {
    text-align: center;
    color: #1f3a4a;
    margin-bottom: 22px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    color: #1f3a4a;
    border: 1px solid rgba(255,255,255,0.4);

    overflow: hidden;
}

.redirectButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 14px;
  width: 15vw;

  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0, 43, 63, 0.15);
  color: #1f3a4a;

  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
  text-align: start;
  transition: 0.2s;
}

.redirectButton:hover {
  background: white;
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.icons {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon1 {
  background-image: url("../../public/images/company_icon.svg");
  background-size: 230% 230%;
  background-position: center center;
}

.icon2 {
  background-image: url("../../public/images/master_icon.svg");
  background-size: 150% 150%;
  background-position: center center;
}

.icon3 {
  background-image: url("../../public/images/crew_icon.svg");
  background-size: 115% 115%;
  background-position: center center;
}

.loginButton {
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;

    background: #4da6d9;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.25s;
}

.loginButton:hover {
    background: #3b95c7;
}

/* Анимация ухода влево */
.slideLeft {
    animation: slideLeftAnim 0.5s forwards;
}

@keyframes slideLeftAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
