.content {
  width: 100%;
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nodata {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

/* .scroll_list li:last-child { border-bottom: none;  }*/

/*-----------------------------captain add part-----------------------------------*/

.back_arrow {
  position: absolute;
  left: 62%;
  top: 18%;
  width: 30px;
  height: 30px;
  background-color: #bad1e0;
  clip-path: path(
    "M  1,5 A 1,1 0,0,1 1,4  L  7,0 A 2,2 0,0,1 7,3  L  27,3 A 3,3 0,0,1 30,6  L  30,23 A 3,3 0,0,1 27,25  L  10,25 A 2,2 0,0,1 10,21  L  25,21 A 1,1 0,0,0 26,20  L  26,8 A 1,1 0,0,0 25,7  L  7,7 A 2,2 0,0,1 7,10  Z"
  );
}

.back_arrow_space {
  padding-right: 50px !important;
}

.position_modal_height {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.position_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  background-color: rgba(123, 167, 197, 15%);
}

.position_header_right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.position_content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.position_groups {
  list-style: none;
  background-color: rgba(123, 167, 197, 33%);
  width: 220px;
  flex-shrink: 0;
  padding: 10px 0 0 0;
  overflow-y: auto;
}

.position_group {
  padding: 10px 20px 10px 30px;
  cursor: pointer;
}

.position_group:hover {
  background-color: rgba(123, 167, 197, 30%);
}

.selected_position_group {
  background-color: rgba(123, 167, 197, 50%) !important;
  border-right: 4px solid rgb(33, 127, 165);
}

.position_group span {
  font-size: 1.1em;
  font-weight: 500;
  user-select: none;
}

.position_records {
  flex: 1;
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  align-self: flex-start;
  max-height: 100%;
  overflow-y: auto;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
}

.position_record {
  width: 240px;
  cursor: pointer;
  height: 110px;
  display: block;
  padding: 12px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 100ms linear;
  border-radius: 7px;
}

.position_record p {
  margin-top: 5px;
  font-style: italic;
}

.position_record:hover {
  background-color: rgba(123, 167, 197, 20%);
}

.input_row {
  gap: 20px;
}

.add_record {
  justify-self: flex-end;
  align-self: flex-end;
  margin: 1vh 3vw 1vw 0;
}

.add_table th,
.add_table td {
  text-align: left;
  color: #182c3a;
  padding: 1vh 3vw 1vw 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove_btn {
  color: #bd2135 !important;
  border-color: #bd2135 !important;
}
.remove_btn:hover {
  color: #f0faff !important;
  background-color: #bd2135 !important;
}

.position_button {
  min-width: 120px;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.error_input {
  border-color: #bd2135 !important;
}

.error_input:focus {
  outline: transparent !important;
  border-color: #bd2135 !important;
  box-shadow: 0 0 6px rgba(189, 33, 53, 0.4) !important;
  outline: none;
}

button.error_button {
  border-color: #bd2135;
}

.date_input {
  padding: 10px 15px;
  border: 1px solid #5d6d7e;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.date_input:focus {
  border-color: #7eaccc;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
  outline: none;
}
