.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-self: center;
    width: 90%;
    margin-top: 25px;
    gap: 100px;
}

.body {
    /*background: #7ba7c526;*/
    background: url("../../public/images/profile_background2.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}