.container {    
  display: flex;
  justify-self: center; 
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 90%;
}

.leftSide, .rightSide {
    height: 100%;
}

.leftSide {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.leftSide nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

}

.leftSide a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #002b3f;
    margin: 0;
    
}

.rightSide {
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.container .rightSide a {
    font-weight: bold;
    font-size: 1.5em;
    color: #002b3f;
    margin: 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
}

.notification, .profile {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #002b3f; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.notification {
    -webkit-mask-image: url("../../public/images/bell-outline.svg");
    mask-image: url("../../public/images/bell-outline.svg");
}

.profile {
    -webkit-mask-image: url("../../public/images/account-circle.svg");
    mask-image: url("../../public/images/account-circle.svg");
}