.container {    
  display: flex;
  justify-self: center; 
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 90%;

  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 0 10px;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url("../../public/images/Muir_icon.svg");
    background-color: white;
    border-radius: 50%;
    background-size: 102% 102%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.leftSide, .rightSide {
    height: 100%;
}

.leftSide {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.leftSide nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

}

.leftSide a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #002b3f;
    margin: 0;
    
}

.rightSide {
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.container .rightSide a {
    font-weight: bold;
    font-size: 1.5em;
    color: #002b3f;
    margin: 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
}

.notification, .profile {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #002b3f; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.notification {
    -webkit-mask-image: url("../../public/images/bell-outline.svg");
    mask-image: url("../../public/images/bell-outline.svg");
}

.profile {
    -webkit-mask-image: url("../../public/images/account-circle.svg");
    mask-image: url("../../public/images/account-circle.svg");
}