.search {
  height: inherit;
  display: flex;
  align-items: center;
  height: 49px; 
}

.search input {
  height: inherit;
  width: inherit;
  color: var(--light-theme-text-color);
}

.search input[type="text"] {
  outline: none;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #5d6d7e;
  border-radius: 5px 0 0 5px;
  border-right: none;
  font-size: 1em;
}

.search input:focus {
  border: 1px solid #678ca6;
  border-right: none;
}

.search Button {
  border-radius: 0 5px 5px 0;
  padding: 11px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
}

.search Button:hover {
  background-color: transparent;
}

.search Button img {
  border-radius: 5px;
  transition: transform 0.2s ease, border-radius 0.2s ease, box-shadow 0.2s ease;
}

.search Button:active img {
  transform: scale(1.1);
}