.button {
  font-size: 1em;
  height: inherit;
  background-color: #678CA6;
  border: none;
  padding: 11px 30px;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
}

.border_button {  
  height: 100%;
  font-size: 1em;
  max-height: 49px;
  background-color: #678CA6;
  border: 1px solid #5d6d7e;
  padding: 11px 30px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  position: relative;
}


.button:hover,
.border_button:hover {
  background-color: #4E6F86;
}
