.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;

  width: 300px;
  height: 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--light-theme-text-color);
  background-color: rgba(218, 238, 255, 0.8);

  border: 1px solid rgba(121, 142, 164, 0.4);
  border-radius: 5px;
  backdrop-filter: blur(20px);
  animation: toast-slide 4s forwards; 
  /*  must match the setTimeout time
    setTimeout(() => setNotification(null), time);
  */
}

@keyframes toast-slide {
  0% {
    top: -40px;
    opacity: 0;
  }

  10% {
    top: 20px;
    opacity: 1;
  }

  90% {
    top: 20px;
    opacity: 1;
  }

  100% {
    top: -40px;
    opacity: 0;
  }
}
