/* 🔷 Навигационная панель */
.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 🔗 Ссылки навигации */
.nav a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.5em;
}

.nav a:hover {
  color: #7ba7c5; /* цвет при наведении */
}

.nav a.active {
  border-bottom: 2px solid #7ba7c5; /* активная вкладка */
}