:root {
  --black-theme--text-color: #E9F8FF;
  --light-theme-text-color: #182c3a;
  --light-theme-title-color: #2a3f4d;
}

* {
    padding: 0;
    margin: 0; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    box-sizing: border-box;
    color: var(--black-theme--text-color);
    font-family: "Inter", sans-serif;
}

body{
  background-color: #F0FAFF;
}

h1, h2, h3, h4, p, span {
  color: var(--light-theme-title-color);
}

h1 {
  font-size: 2.25em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
  text-align: center;
}

header {
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
  padding-top: 50px;
  transition: all 0.3s ease;
}

footer {
  position: relative;
}

.container {    
  display: flex;
  justify-self: center; 
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}
