* {
    padding: 0;
    margin: 0; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    box-sizing: border-box;
    color: #E9F8FF;
    font-family: "Inter", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота экрана */
}

header, footer {
    background-color: #fff; /* Цвет фона */
    color: #000; /* Цвет текста */
    padding: 10px;
    text-align: center;
}

main {
    flex: 1; /* Основное содержимое занимает оставшееся пространство */
    padding: 20px;
}
